<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="org.res.gitx.command-set"
         point="org.eclipse.ui.commands">
      <category
            description="Extended Git Commands"
            id="org.res.gitx.commands.category"
            name="More Git commands">
      </category>
      <command
            defaultHandler="org.res.gitx.ReadmeHandler"
            id="org.res.gitx.ReadmeHandler"
            name="README!">
      </command>
      <command
            categoryId="org.res.gitx.commands.category"
            defaultHandler="org.res.gitx.handlers.StatusCommand"
            id="org.res.gitx.StatusCommand"
            name="show git status">
      </command>
      <command
            categoryId="org.res.gitx.commands.category"
            defaultHandler="org.res.gitx.handlers.PullCommand"
            id="org.res.gitx.handlers.PullCommand"
            name="pull">
      </command>
      <command
            categoryId="org.res.gitx.commands.category"
            defaultHandler="org.res.gitx.handlers.FetchCommand"
            id="org.res.gitx.handlers.FetchCommand"
            name="fetch">
      </command>
      <command
            categoryId="org.res.gitx.commands.category"
            defaultHandler="org.res.gitx.handlers.PushCommand"
            id="org.res.gitx.handlers.PushCommand"
            name="push">
      </command>
      <command
            categoryId="org.res.gitx.commands.category"
            defaultHandler="org.res.gitx.handlers.MergeCommand"
            id="org.res.gitx.handlers.MergeCommand"
            name="merge">
      </command>
      <command
            categoryId="org.res.gitx.commands.category"
            defaultHandler="org.res.gitx.handlers.MergeAbortCommand"
            id="org.res.gitx.handlers.MergeAbortCommand"
            name="abort merge">
      </command>
      <command
            categoryId="org.res.gitx.commands.category"
            defaultHandler="org.res.gitx.handlers.CheckoutCommand"
            id="org.res.gitx.handlers.CheckoutCommand"
            name="checkout">
      </command>
      <command
            categoryId="org.res.gitx.commands.category"
            defaultHandler="org.res.gitx.handlers.CheckoutSelectedPathsCommand"
            id="org.res.gitx.handlers.CheckoutSelectedPathsCommand"
            name="checkout selected paths">
      </command>
      <command
            categoryId="org.res.gitx.commands.category"
            defaultHandler="org.res.gitx.handlers.ResetCommand"
            id="org.res.gitx.handlers.ResetCommand"
            name="reset keep">
      </command>
      <command
            categoryId="org.res.gitx.commands.category"
            defaultHandler="org.res.gitx.handlers.ResetPathCommand"
            id="org.res.gitx.handlers.ResetPathCommand"
            name="reset selected path">
      </command>
      <command
            defaultHandler="org.res.gitx.handlers.ListChangedFiles"
            id="org.res.gitx.handlers.ListChangedFiles"
            name="diff stat">
      </command>
      <command
            categoryId="org.res.gitx.commands.category"
            defaultHandler="org.res.gitx.handlers.ListCommitDiffsCommand"
            id="org.res.gitx.ListCommitDiffsCommand"
            name="list commit diffs">
      </command>
      <command
            categoryId="org.res.gitx.commands.category"
            defaultHandler="org.res.gitx.handlers.BisectEndCommand"
            id="org.res.gitx.BisectEndCommand"
            name="end git bisect">
      </command>
      <command
            categoryId="org.res.gitx.commands.category"
            defaultHandler="org.res.gitx.handlers.BisectGoodCommand"
            id="org.res.gitx.BisectGoodCommand"
            name="mark good">
      </command>
      <command
            categoryId="org.res.gitx.commands.category"
            defaultHandler="org.res.gitx.handlers.BisectBadCommand"
            id="org.res.gitx.BisectBadCommand"
            name="mark bad">
      </command>
      <command
            categoryId="org.res.gitx.commands.category"
            defaultHandler="org.res.gitx.handlers.BisectReplayCommand"
            id="org.res.gitx.BisectReplayCommand"
            name="replay bisect">
      </command>
      <command
            categoryId="org.res.gitx.commands.category"
            defaultHandler="org.res.gitx.handlers.BisectRunCommand"
            id="org.res.gitx.BisectRunCommand"
            name="mark good/bad from run">
      </command>
      <command
            categoryId="org.res.gitx.commands.category"
            defaultHandler="org.res.gitx.handlers.BisectSkipCommand"
            id="org.res.gitx.BisectSkipCommand"
            name="skip bisect">
      </command>
      <command
            categoryId="org.res.gitx.commands.category"
            defaultHandler="org.res.gitx.handlers.BisectStartCommand"
            id="org.res.gitx.BisectStartCommand"
            name="start bisect">
      </command>
      <command
            categoryId="org.res.gitx.commands.category"
            defaultHandler="org.res.gitx.handlers.BisectLogCommand"
            id="org.res.gitx.BisectLogCommand"
            name="log bisect">
      </command>
      <command
            categoryId="org.res.gitx.commands.category"
            defaultHandler="org.res.gitx.handlers.BundleCreateCommand"
            id="org.res.gitx.BundleCreateCommand"
            name="create bundle">
      </command>
      <command
            categoryId="org.res.gitx.commands.category"
            defaultHandler="org.res.gitx.handlers.BundlePullCommand"
            id="org.res.gitx.BundlePullCommand"
            name="pull from bundle">
      </command>
      <command
            categoryId="org.res.gitx.commands.category"
            defaultHandler="org.res.gitx.handlers.BundleFetchCommand"
            id="org.res.gitx.BundleFetchCommand"
            name="fetch from bundle">
      </command>
      <command
            categoryId="org.res.gitx.commands.category"
            defaultHandler="org.res.gitx.handlers.Git2SvnHandler"
            id="org.res.gitx.Git2SvnHandler"
            name="show svn rev for git commit">
      </command>
      <command
            categoryId="org.res.gitx.commands.category"
            defaultHandler="org.res.gitx.handlers.LightweightTagCommand"
            id="org.res.gitx.LightweightTagCommand"
            name="create  lightweight tag">
      </command>
      <command
            categoryId="org.res.gitx.commands.category"
            defaultHandler="org.res.gitx.handlers.PruneCommand"
            id="org.res.gitx.PruneCommand"
            name="prune dead remote refs">
      </command>
      <command
            categoryId="org.res.gitx.commands.category"
            defaultHandler="org.res.gitx.handlers.Svn2GitCommand"
            id="org.res.gitx.Svn2GitCommand"
            name="show git SHA for svn rev">
      </command>
      <command
            categoryId="org.res.gitx.commands.category"
            defaultHandler="org.res.gitx.handlers.SvnDcommitCommand"
            id="org.res.gitx.SvnDcommitCommand"
            name="push commits to svn">
      </command>
      <command
            categoryId="org.res.gitx.commands.category"
            defaultHandler="org.res.gitx.handlers.ListOrphanedCommitsCommand"
            id="org.res.gitx.ListOrphanedCommitsCommand"
            name="list orphan commits">
      </command>
      <command
            categoryId="org.res.gitx.commands.category"
            defaultHandler="org.res.gitx.handlers.SvnInfoCommand"
            id="org.res.gitx.SvnInfoCommand"
            name="show svn info">
      </command>
      <command
            categoryId="org.res.gitx.commands.category"
            defaultHandler="org.res.gitx.handlers.SvnRebaseCommand"
            id="org.res.gitx.SvnRebaseCommand"
            name="pull from svn">
      </command>
      <command
            categoryId="org.res.gitx.commands.category"
            defaultHandler="org.res.gitx.handlers.SvnRebaseLocalCommand"
            id="org.res.gitx.SvnRebaseLocalCommand"
            name="merge fetched svn commits">
      </command>
      <command
            categoryId="org.res.gitx.commands.category"
            defaultHandler="org.res.gitx.handlers.SvnFetchCommand"
            id="org.res.gitx.SvnFetchCommand"
            name="fetch from svn">
      </command>
      <command
            defaultHandler="org.res.gitx.handlers.SvnGcCommand"
            id="org.res.gitx.handlers.SvnGcCommand"
            name="svn gc">
      </command>
      <command
            categoryId="org.res.gitx.commands.category"
            defaultHandler="org.res.gitx.handlers.CreatePatchCommand"
            id="org.res.gitx.handlers.CreatePatchCommand"
            name="create patch">
      </command>
      <command
            defaultHandler="org.res.gitx.handlers.ApplyPatchCommand"
            description="apply patch"
            id="org.res.gitx.handlers.ApplyPatchCommand"
            name="name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="org.res.gitx.menus.git"
               label="Git Extensions">
            <command
                  commandId="org.res.gitx.ReadmeHandler"
                  label="README!"
                  style="push">
            </command>
            <separator
                  name="simple"
                  visible="true">
            </separator>
            <command
                  commandId="org.res.gitx.StatusCommand"
                  label="Git Status">
            </command>
            <command
                  commandId="org.res.gitx.LightweightTagCommand"
                  id="egitex.handlers.LightweightTagCommand"
                  label="Create lightweight tag...">
            </command>
            <command
                  commandId="org.res.gitx.handlers.FetchCommand"
                  label="Fetch..."
                  style="push"
                  tooltip="Fetch from upstream with optional prune. Typically somewhat faster than JGit fetch">
            </command>
            <command
                  commandId="org.res.gitx.handlers.PullCommand"
                  label="Pull"
                  style="push"
                  tooltip="Pull from upstream with optional prune. Typically somewhat faster than JGit pull">
            </command>
            <command
                  commandId="org.res.gitx.handlers.PushCommand"
                  label="Push"
                  style="push">
            </command>
            <command
                  commandId="org.res.gitx.PruneCommand"
                  id="egitex.handlers.PruneCommand"
                  label="Prune obsolete remote refs...">
            </command>
            <separator
                  name="egit-ex.merge"
                  visible="true">
            </separator>
            <command
                  commandId="org.res.gitx.handlers.MergeCommand"
                  label="Merge..."
                  style="push">
            </command>
            <command
                  commandId="org.res.gitx.handlers.MergeAbortCommand"
                  label="Abort merge"
                  style="push">
            </command>
            <separator
                  name="egit-ex.separator2"
                  visible="true">
            </separator>
            <command
                  commandId="org.res.gitx.handlers.CheckoutCommand"
                  label="Checkout..."
                  style="push"
                  tooltip="Checkout a branch, tag or reference. Typically somewhat faster than JGit checkout">
            </command>
            <command
                  commandId="org.res.gitx.handlers.CheckoutSelectedPathsCommand"
                  id="org.res.gitx.handlers.CheckoutSelectedPathsCommand"
                  label="Checkout selected paths"
                  style="push">
            </command>
            <command
                  commandId="org.res.gitx.handlers.ResetCommand"
                  label="Reset..."
                  style="push">
            </command>
            <command
                  commandId="org.res.gitx.handlers.ResetPathCommand"
                  label="Reset Selected Paths"
                  style="push">
            </command>
            <separator
                  name="egit-ex.separator3"
                  visible="true">
            </separator>
            <separator
                  name="list and clean"
                  visible="true">
            </separator>
            <command
                  commandId="org.res.gitx.ListCommitDiffsCommand"
                  label="List Commit Diffs...">
            </command>
            <command
                  commandId="org.res.gitx.handlers.ListChangedFiles"
                  label="List changed files..."
                  style="push">
            </command>
            <command
                  commandId="org.res.gitx.ListOrphanedCommitsCommand"
                  id="egitex.handlers.ListOrphanedCommitsCommand"
                  label="List orphan commits">
            </command>
            <command
                  commandId="org.res.gitx.handlers.CreatePatchCommand"
                  label="Create branch-relative patch..."
                  style="push">
            </command>
            <command
                  commandId="org.res.gitx.handlers.ApplyPatchCommand"
                  label="Apply patch..."
                  style="push">
            </command>
            <separator
                  name="bisect"
                  visible="true">
            </separator>
            <command
                  commandId="org.res.gitx.BisectStartCommand"
                  id="egitex.handlers.BisectStartCommand"
                  label="Start bisect...">
            </command>
            <command
                  commandId="org.res.gitx.BisectBadCommand"
                  id="egitex.handlers.BisectBadCommand"
                  label="Mark as bad">
            </command>
            <command
                  commandId="org.res.gitx.BisectGoodCommand"
                  id="egitex.handlers.BisectGoodCommand"
                  label="Mark as good">
            </command>
            <command
                  commandId="org.res.gitx.BisectRunCommand"
                  id="egitex.handlers.BisectRunCommand"
                  label="Mark from run...">
            </command>
            <command
                  commandId="org.res.gitx.BisectSkipCommand"
                  id="egitex.handlers.BisectSkipCommand"
                  label="Skip bisect">
            </command>
            <command
                  commandId="org.res.gitx.BisectLogCommand"
                  id="egitex.handlers.BisectLogCommand"
                  label="Log bisect...">
            </command>
            <command
                  commandId="org.res.gitx.BisectReplayCommand"
                  id="egitex.handlers.BisectReplayCommand"
                  label="Replay bisect...">
            </command>
            <command
                  commandId="org.res.gitx.BisectEndCommand"
                  id="egitex.handlers.BisectEndCommand"
                  label="End bisect...">
            </command>
            <separator
                  name="bundle"
                  visible="true">
            </separator>
            <command
                  commandId="org.res.gitx.BundleCreateCommand"
                  id="egitex.handlers.BundleCreateCommand"
                  label="Create bundle file...">
            </command>
            <command
                  commandId="org.res.gitx.BundleFetchCommand"
                  id="egitex.handlers.BundleFetchCommand"
                  label="Fetch from bundle file...">
            </command>
            <command
                  commandId="org.res.gitx.BundlePullCommand"
                  id="egitex.handlers.BundlePullCommand"
                  label="Pull from bundle file...">
            </command>
            <separator
                  name="svn bridge"
                  visible="true">
            </separator>
            <command
                  commandId="org.res.gitx.SvnRebaseCommand"
                  id="egitex.handlers.SvnRebaseCommand"
                  label="Pull from SVN">
            </command>
            <command
                  commandId="org.res.gitx.SvnRebaseLocalCommand"
                  id="egitex.handlers.SvnRebaseLocalCommand"
                  label="SVN Local Rebase">
            </command>
            <command
                  commandId="org.res.gitx.SvnFetchCommand"
                  id="egitex.handlers.SvnFetchCommand"
                  label="Fetch from SVN">
            </command>
            <command
                  commandId="org.res.gitx.SvnDcommitCommand"
                  id="egitex.handlers.SvnDcommitCommand"
                  label="Push to SVN">
            </command>
            <command
                  commandId="org.res.gitx.SvnInfoCommand"
                  id="egitex.handlers.SvnInfoCommand"
                  label="Show SVN info...">
            </command>
            <command
                  commandId="org.res.gitx.Git2SvnHandler"
                  id="egitex.handlers.Git2SvnHandler"
                  label="SVN rev for Git SHA...">
            </command>
            <command
                  commandId="org.res.gitx.Svn2GitCommand"
                  id="egitex.handlers.Svn2GitCommand"
                  label="Git SHA for SVN rev...">
            </command>
            <command
                  commandId="org.res.gitx.handlers.SvnGcCommand"
                  label="SVN GC"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="org.res.gitx.toolbars.gitToolbar">
            <command
                  commandId="org.res.gitx.SvnDcommitCommand"
                  id="org.res.gitx.SvnDcommitCommand"
                  label="Push to SVN"
                  tooltip="Push new commits to SVN">
            </command>
            <command
                  commandId="org.res.gitx.SvnFetchCommand"
                  id="org.res.gitx.SvnFetchCommand"
                  label="Fetch  from SVN"
                  tooltip="Fetch new commits from SVN">
            </command>
            <command
                  commandId="org.res.gitx.SvnRebaseCommand"
                  id="org.res.gitx.SvnRebaseCommand"
                  label="Pull from SVN"
                  tooltip="Pull new commits from SVN">
            </command>
         </toolbar>
      </menuContribution>
   </extension>

</plugin>
