<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="git-command-set"
         point="org.eclipse.ui.commands">
      <category
            description="Extended Git Commands"
            id="egit-ex.commands.category"
            name="More Git commands">
      </category>
      <command
            categoryId="egit-ex.commands.category"
            defaultHandler="egitex.handlers.StatusCommand"
            id="egitex.handlers.StatusCommand"
            name="show git status">
      </command>
      <command
            categoryId="egit-ex.commands.category"
            defaultHandler="egitex.handlers.ListCommitDiffsCommand"
            id="egitex.handlers.ListCommitDiffsCommand"
            name="list commit diffs">
      </command>
      <command
            categoryId="egit-ex.commands.category"
            defaultHandler="egitex.handlers.BisectEndCommand"
            id="egitex.handlers.BisectEndCommand"
            name="end git bisect">
      </command>
      <command
            categoryId="egit-ex.commands.category"
            defaultHandler="egitex.handlers.BisectGoodCommand"
            id="egitex.handlers.BisectGoodCommand"
            name="mark good">
      </command>
      <command
            categoryId="egit-ex.commands.category"
            defaultHandler="egitex.handlers.BisectBadCommand"
            id="egitex.handlers.BisectBadCommand"
            name="mark bad">
      </command>
      <command
            categoryId="egit-ex.commands.category"
            defaultHandler="egitex.handlers.BisectReplayCommand"
            id="egitex.handlers.BisectReplayCommand"
            name="replay bisect">
      </command>
      <command
            categoryId="egit-ex.commands.category"
            defaultHandler="egitex.handlers.BisectRunCommand"
            id="egitex.handlers.BisectRunCommand"
            name="mark good/bad from run">
      </command>
      <command
            categoryId="egit-ex.commands.category"
            defaultHandler="egitex.handlers.BisectSkipCommand"
            id="egitex.handlers.BisectSkipCommand"
            name="skip bisect">
      </command>
      <command
            categoryId="egit-ex.commands.category"
            defaultHandler="egitex.handlers.BisectStartCommand"
            id="egitex.handlers.BisectStartCommand"
            name="start bisect">
      </command>
      <command
            categoryId="egit-ex.commands.category"
            defaultHandler="egitex.handlers.BisectLogCommand"
            id="egitex.handlers.BisectLogCommand"
            name="log bisect">
      </command>
      <command
            categoryId="egit-ex.commands.category"
            defaultHandler="egitex.handlers.BundleCreateCommand"
            id="egitex.handlers.BundleCreateCommand"
            name="create bundle">
      </command>
      <command
            categoryId="egit-ex.commands.category"
            defaultHandler="egitex.handlers.BundlePullCommand"
            id="egitex.handlers.BundlePullCommand"
            name="pull from bundle">
      </command>
      <command
            categoryId="egit-ex.commands.category"
            defaultHandler="egitex.handlers.BundleFetchCommand"
            id="egitex.handlers.BundleFetchCommand"
            name="fetch from bundle">
      </command>
      <command
            categoryId="egit-ex.commands.category"
            defaultHandler="egitex.handlers.Git2SvnHandler"
            id="egitex.handlers.Git2SvnHandler"
            name="show svn rev for git commit">
      </command>
      <command
            categoryId="egit-ex.commands.category"
            defaultHandler="egitex.handlers.LightweightTagCommand"
            id="egitex.handlers.LightweightTagCommand"
            name="create  lightweight tag">
      </command>
      <command
            categoryId="egit-ex.commands.category"
            defaultHandler="egitex.handlers.PruneCommand"
            id="egitex.handlers.PruneCommand"
            name="prune dead remote refs">
      </command>
      <command
            categoryId="egit-ex.commands.category"
            defaultHandler="egitex.handlers.Svn2GitCommand"
            id="egitex.handlers.Svn2GitCommand"
            name="show git SHA for svn rev">
      </command>
      <command
            categoryId="egit-ex.commands.category"
            defaultHandler="egitex.handlers.SvnDcommitCommand"
            id="egitex.handlers.SvnDcommitCommand"
            name="push commits to svn">
      </command>
      <command
            categoryId="egit-ex.commands.category"
            defaultHandler="egitex.handlers.ListOrphanedCommitsCommand"
            id="egitex.handlers.ListOrphanedCommitsCommand"
            name="list orphan commits">
      </command>
      <command
            categoryId="egit-ex.commands.category"
            defaultHandler="egitex.handlers.SvnInfoCommand"
            id="egitex.handlers.SvnInfoCommand"
            name="show svn info">
      </command>
      <command
            categoryId="egit-ex.commands.category"
            defaultHandler="egitex.handlers.SvnRebaseCommand"
            id="egitex.handlers.SvnRebaseCommand"
            name="pull from svn">
      </command>
      <command
            categoryId="egit-ex.commands.category"
            defaultHandler="egitex.handlers.SvnRebaseLocalCommand"
            id="egitex.handlers.SvnRebaseLocalCommand"
            name="merge fetched svn commits">
      </command>
      <command
            categoryId="egit-ex.commands.category"
            defaultHandler="egitex.handlers.SvnFetchCommand"
            id="egitex.handlers.SvnFetchCommand"
            name="fetch from svn">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="egit-ex.menus.git"
               label="Git Extensions">
            <command
                  commandId="egitex.handlers.StatusCommand"
                  label="Git Status">
            </command>
            <command
                  commandId="egitex.handlers.ListCommitDiffsCommand"
                  label="List Commit Diffs...">
            </command>
            <command
                  commandId="egitex.handlers.PruneCommand"
                  id="egitex.handlers.PruneCommand"
                  label="Prune obsolete remote refs...">
            </command>
            <command
                  commandId="egitex.handlers.ListOrphanedCommitsCommand"
                  id="egitex.handlers.ListOrphanedCommitsCommand"
                  label="List orphan commits">
            </command>
            <command
                  commandId="egitex.handlers.LightweightTagCommand"
                  id="egitex.handlers.LightweightTagCommand"
                  label="Create lightweight tag...">
            </command>
            <separator
                  name="bisect"
                  visible="true">
            </separator>
            <command
                  commandId="egitex.handlers.BisectStartCommand"
                  id="egitex.handlers.BisectStartCommand"
                  label="Start bisect...">
            </command>
            <command
                  commandId="egitex.handlers.BisectBadCommand"
                  id="egitex.handlers.BisectBadCommand"
                  label="Mark as bad">
            </command>
            <command
                  commandId="egitex.handlers.BisectGoodCommand"
                  id="egitex.handlers.BisectGoodCommand"
                  label="Mark as good">
            </command>
            <command
                  commandId="egitex.handlers.BisectRunCommand"
                  id="egitex.handlers.BisectRunCommand"
                  label="Mark from run...">
            </command>
            <command
                  commandId="egitex.handlers.BisectSkipCommand"
                  id="egitex.handlers.BisectSkipCommand"
                  label="Skip bisect">
            </command>
            <command
                  commandId="egitex.handlers.BisectLogCommand"
                  id="egitex.handlers.BisectLogCommand"
                  label="Log bisect...">
            </command>
            <command
                  commandId="egitex.handlers.BisectReplayCommand"
                  id="egitex.handlers.BisectReplayCommand"
                  label="Replay bisect...">
            </command>
            <command
                  commandId="egitex.handlers.BisectEndCommand"
                  id="egitex.handlers.BisectEndCommand"
                  label="End bisect...">
            </command>
            <separator
                  name="bundle"
                  visible="true">
            </separator>
            <command
                  commandId="egitex.handlers.BundleCreateCommand"
                  id="egitex.handlers.BundleCreateCommand"
                  label="Create bundle file...">
            </command>
            <command
                  commandId="egitex.handlers.BundleFetchCommand"
                  id="egitex.handlers.BundleFetchCommand"
                  label="Fetch from bundle file...">
            </command>
            <command
                  commandId="egitex.handlers.BundlePullCommand"
                  id="egitex.handlers.BundlePullCommand"
                  label="Pull from bundle file...">
            </command>
            <separator
                  name="svn bridge"
                  visible="true">
            </separator>
            <command
                  commandId="egitex.handlers.SvnRebaseCommand"
                  id="egitex.handlers.SvnRebaseCommand"
                  label="Pull from SVN">
            </command>
            <command
                  commandId="egitex.handlers.StatusCommand"
                  id="egitex.handlers.SvnRebaseLocalCommand"
                  label="SVN Local Rebase">
            </command>
            <command
                  commandId="egitex.handlers.SvnFetchCommand"
                  id="egitex.handlers.SvnFetchCommand"
                  label="Fetch from SVN">
            </command>
            <command
                  commandId="egitex.handlers.SvnDcommitCommand"
                  id="egitex.handlers.SvnDcommitCommand"
                  label="Push to SVN">
            </command>
            <command
                  commandId="egitex.handlers.SvnInfoCommand"
                  id="egitex.handlers.SvnInfoCommand"
                  label="Show SVN info...">
            </command>
            <command
                  commandId="egitex.handlers.Git2SvnHandler"
                  id="egitex.handlers.Git2SvnHandler"
                  label="SVN rev for Git SHA...">
            </command>
            <command
                  commandId="egitex.handlers.Svn2GitCommand"
                  id="egitex.handlers.Svn2GitCommand"
                  label="Git SHA for SVN rev...">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="egit-ex.toolbars.gitToolbar">
            <command
                  commandId="egitex.handlers.SvnDcommitCommand"
                  id="egitex.handlers.SvnDcommitCommand"
                  label="Push to SVN"
                  tooltip="Push new commits to SVN">
            </command>
            <command
                  commandId="egitex.handlers.SvnDcommitCommand"
                  id="egitex.handlers.SvnFetchCommand"
                  label="Fetch  from SVN"
                  tooltip="Fetch new commits from SVN">
            </command>
            <command
                  commandId="egitex.handlers.SvnRebaseCommand"
                  id="egitex.handlers.SvnRebaseCommand"
                  label="Pull from SVN"
                  tooltip="Pull new commits from SVN">
            </command>
         </toolbar>
      </menuContribution>
   </extension>

</plugin>
