<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Git Action Set"
            visible="true"
            id="egit-ex.actionSet">
         <menu
               label="Git Extras"
               id="gitMenu">
            <separator
                  name="gitGroup">
            </separator>
            <separator
                  name="svnGroup">
            </separator>
         </menu>
         <action
               class="egitex.actions.StatusAction"
               id="egitex.actions.StatusAction"
               label="Git status"
               menubarPath="gitMenu/gitGroup"
               toolbarPath="toolbarGroup"
               tooltip="Git status">
         </action>
         <action
               class="egitex.actions.SvnRebaseAction"
               icon="icons/pull.gif"
               id="egitex.actions.SvnRebaseAction"
               label="Pull from SVN"
               menubarPath="gitMenu/svnGroup"
               toolbarPath="toolbarGroup"
               tooltip="Fetch and rebase new commits from SVN (active branch)">
         </action>
         <action
               class="egitex.actions.SvnFetchAction"
               icon="icons/fetch.gif"
               id="egitex.actions.SvnFetchAction"
               label="Fetch from SVN"
               menubarPath="gitMenu/svnGroup"
               toolbarPath="toolbarGroup"
               tooltip="Fetch new commits from SVN (all branches)">
         </action>
         <action
               class="egitex.actions.SvnDcommitAction"
               icon="icons/push.gif"
               id="egitex.actions.SvnDcommitAction"
               label="Push to SVN"
               menubarPath="gitMenu/svnGroup"
               toolbarPath="toolbarGroup"
               tooltip="Push new commits to SVN (active branch) ">
         </action>
         <action
               class="egitex.actions.SvnInfoAction"
               id="egitex.actions.SvnInfoAction"
               label="SVN info"
               menubarPath="gitMenu/svnGroup"
               tooltip="Show bridged SVN info">
         </action>
         <action
               class="egitex.actions.Git2SvnAction"
               id="egitex.actions.Git2SvnAction"
               label="SVN rev"
               menubarPath="gitMenu/svnGroup"
               tooltip="Show SVN revision for Git commit">
         </action>
         <action
               class="egitex.actions.Svn2GitAction"
               id="egitex.actions.Svn2GitAction"
               label="Git SHA"
               menubarPath="gitMenu/svnGroup"
               tooltip="Show Git SHA for SVN revision">
         </action>
         <action
               class="egitex.actions.BisectEndAction"
               id="egitex.actions.BisectEndAction"
               label="End bisect"
               menubarPath="gitMenu/bisectGroup"
               tooltip="End a bisect">
         </action>
         <action
               class="egitex.actions.BisectBadAction"
               id="egitex.actions.BisectBadAction"
               label="Mark as bad"
               menubarPath="gitMenu/bisectGroup"
               tooltip="Mark HEAD as bad in a bisect">
         </action>
         <action
               class="egitex.actions.BisectGoodAction"
               id="egitex.actions.BisectGoodAction"
               label="Mark as good"
               menubarPath="gitMenu/bisectGroup"
               tooltip="Mark HEAD as good in a bisect">
         </action>
         <action
               class="egitex.actions.BisectStartAction"
               id="egitex.actions.BisectStartAction"
               label="Start bisect"
               menubarPath="gitMenu/bisectGroup"
               tooltip="Begin a bisect">
         </action>
      </actionSet>
   </extension>

</plugin>
