<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="egit-ex.actionSet"
            label="Git Action Set"
            sibling_order="&lt;action&#x0A;               class=&quot;egitex.actions.PruneAction&quot;&#x0A;               id=&quot;egitex.actions.PruneAction&quot;&#x0A;               label=&quot;Prune...&quot;&#x0A;               menubarPath=&quot;gitMenu/gitGroup&quot;&#x0A;               tooltip=&quot;Prune remote refs&quot;&gt;&#x0A;         &lt;/action&gt;"
            visible="true">
         <menu
               label="Git Extras"
               id="gitMenu">
            <separator
                  name="gitGroup">
            </separator>
            <separator
                  name="svnGroup">
            </separator>
         </menu>
         <action
               class="egitex.actions.PruneAction"
               id="egitex.actions.PruneAction"
               label="Prune..."
               menubarPath="gitMenu/gitGroup"
               tooltip="Prune remote refs">
         </action>
         <action
               class="egitex.actions.SimpleTagAction"
               id="egitex.actions.SimpleTagAction"
               label="Tag..."
               menubarPath="gitMenu/gitGroup"
               tooltip="Prune remote refs">
         </action>
         <action
               class="egitex.actions.StatusAction"
               id="egitex.actions.StatusAction"
               label="Status"
               menubarPath="gitMenu/gitGroup"
               tooltip="Git status">
         </action>
         <action
               class="egitex.actions.SvnRebaseAction"
               icon="icons/pull.gif"
               id="egitex.actions.SvnRebaseAction"
               label="Pull from SVN"
               menubarPath="gitMenu/svnGroup"
               toolbarPath="toolbarGroup"
               tooltip="Fetch and rebase new commits from SVN (active branch)">
         </action>
         <action
               class="egitex.actions.SvnRebaseLocalAction"
               id="egitex.actions.SvnRebaseLocalAction"
               label="SVN Local Rebase"
               menubarPath="gitMenu/svnGroup"
               tooltip="Update active branch from fetched SVN commits">
         </action>
         <action
               class="egitex.actions.SvnFetchAction"
               icon="icons/fetch.gif"
               id="egitex.actions.SvnFetchAction"
               label="Fetch from SVN"
               menubarPath="gitMenu/svnGroup"
               toolbarPath="toolbarGroup"
               tooltip="Fetch new commits from SVN (all branches)">
         </action>
         <action
               class="egitex.actions.SvnDcommitAction"
               icon="icons/push.gif"
               id="egitex.actions.SvnDcommitAction"
               label="Push to SVN"
               menubarPath="gitMenu/svnGroup"
               toolbarPath="toolbarGroup"
               tooltip="Push new commits to SVN (active branch) ">
         </action>
         <action
               class="egitex.actions.SvnInfoAction"
               id="egitex.actions.SvnInfoAction"
               label="SVN info"
               menubarPath="gitMenu/svnGroup"
               tooltip="Show bridged SVN info">
         </action>
         <action
               class="egitex.actions.Git2SvnAction"
               id="egitex.actions.Git2SvnAction"
               label="SVN rev for Git SHA..."
               menubarPath="gitMenu/svnGroup"
               tooltip="Show SVN revision for Git commit">
         </action>
         <action
               class="egitex.actions.Svn2GitAction"
               id="egitex.actions.Svn2GitAction"
               label="Git SHA for SVN rev..."
               menubarPath="gitMenu/svnGroup"
               tooltip="Show Git SHA for SVN revision...">
         </action>
         <action
               class="egitex.actions.BisectEndAction"
               id="egitex.actions.BisectEndAction"
               label="End bisect"
               menubarPath="gitMenu/bisectGroup"
               tooltip="End a bisect">
         </action>
         <action
               class="egitex.actions.BisectBadAction"
               id="egitex.actions.BisectBadAction"
               label="Mark as bad"
               menubarPath="gitMenu/bisectGroup"
               tooltip="Mark HEAD as bad in a bisect">
         </action>
         <action
               class="egitex.actions.BisectGoodAction"
               id="egitex.actions.BisectGoodAction"
               label="Mark as good"
               menubarPath="gitMenu/bisectGroup"
               tooltip="Mark HEAD as good in a bisect">
         </action>
         <action
               class="egitex.actions.BisectStartAction"
               id="egitex.actions.BisectStartAction"
               label="Start bisect"
               menubarPath="gitMenu/bisectGroup"
               tooltip="Begin a bisect">
         </action>
         <action
               class="egitex.actions.BundleFetchAction"
               id="egitex.actions.BundleFetchAction"
               label="Fetch from bundle"
               menubarPath="gitMenu/bundleGroup"
               tooltip="Fetch commits from a bundle file">
         </action>
         <action
               class="egitex.actions.BundlePullAction"
               id="egitex.actions.BundlePullAction"
               label="Pull from bundle"
               menubarPath="gitMenu/bundleGroup"
               tooltip="Pull commits from a bundle file">
         </action>
         <action
               class="egitex.actions.BundleCreateAction"
               id="egitex.actions.BundleCreateAction"
               label="Create bundle"
               menubarPath="gitMenu/bundleGroup"
               tooltip="Create a bundle file">
         </action>
      </actionSet>
   </extension>

</plugin>
